*body{
    margin: 0;
    padding: 0;
}

#mae{
    display: flex;
    gap: 2px; 
}

/*Conteudo do quadro azul*/
#azul{
    border-radius: 5%;
    width: 300px;
    height: 400px;
    background: #2b58de;  
    


}

p{
    text-align: center;
    color: white;
    margin: 20px;
}

.circulo{
    border-radius: 50%;
    width: 50%;
    height: 40%;
    background: blue;

   
    margin: auto;
      
    
}

.circulo {
    text-align: center;
    
}

.circulo p{
    font-size: 50px;
    color: black;
    display: inline; 
   
}

.texto footer{
    text-align: center;
    margin: 40px;
    font-size: 20px;

}


/*Conteudo do quadro branco*/

#branco{
    border-radius: 10%;
    width: 300px;
    height: 400px; 
    background: whitesmoke;  
  
}  

#branco footer{
    margin: 20px;
    font-size: 20px;

}

.reaction{
    margin-top: 48px;
    height: 25px;
    background: rgb(248, 176, 176);
    border-radius: 4%;
    width: 250px;
    margin: auto;
    padding-top: 20px;
}

.reaction span{
    margin-left: 20px;
   
    
}

.nu1{
    
    float: right;
    margin-right: 20px;

}

.memory{
    height: 25px;
    background: #eeeee0;
    border-radius: 4%;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
}

.memory span{
    margin-left: 20px;
}

.verbal{
    height: 25px;
    background: #d3f8d3;;
    border-radius: 4%;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;

}
.verbal span{
    margin-left: 20px;

}

.visual{
    height: 25px;
    background: rgb(201, 201, 247);
    border-radius: 4%;
    width: 250px;
    margin: auto;
    margin-top: 10px;
    padding-top: 20px;
}

.visual span{
    margin-left: 10px;

}

.botao{
    background: #2b58de;
    border-radius:4%;
    width: 250px;
    height: 40px;

    text-align: center;
    margin: auto;
    margin-top: 50px;
    
}

.botao span{
    color: white;
    font-size: 18px;
    
}




