*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

#flex-container{
    display: flex;
    justify-content: center;
}


/*  Conteúdos da parte Azul*/

.azul{
   
    background: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;

    align-items: center;  
    gap: 40px;

    border-radius: 8%;
    
    
}


.titulo{
    font-size: 20px;
    text-align: center;
    color: #ebd7d7;
    margin: 10px;
}

.circulo{
   background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 170px;
    height: 170px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 10px;
    
}

.nu{
    font-size: 50px;
    font-family: verdana;
    color: white;
}

.of{

    color: white;
    
}

.texto{
    color: white;
    text-align: center;
    font-size: 16px;
}

.Greate{
    font-weight: bold;
    font-size: 20px!important
    

}

/*  Conteúdos da parte Branca*/
.branco{
    background: #f5f5f5;
    width: 300px;
    height: 400px; 

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    
    display: flex;
    flex-direction: column;
}

.sum{
    color: black;
    margin: 10px;
    font-size: 20px;
}


.barras{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    margin: 30px;

}

.rectângulo{

    width: 250px;
    height: 40px;  

}

.cor01{
    background: hsl(0, 35%, 91%);
    color: hsl(0, 100%, 67%);
}

.cor02{
    background: hsl(40, 38%, 92%);
    color: hsl(39, 100%, 56%);
}

.cor03{
    background: hsl(165, 56%, 93%);
    color:  hsl(166, 100%, 37%);
}

.cor04{
    background: hsl(232, 38%, 92%);
    color: hsl(234, 85%, 45%)  ;
    
}



.letra{
    display:flex;
    justify-content: space-between;
    padding: 10px;
 }


.contpai{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}


.borda{

    background: hsl(224, 30%, 27%);
    color: white;

    width: 250px;
    height: 40px;

    border-radius: 20px;

}

.continue{
    
    font-size: 18px !important;

    display: flex;
    justify-content: center;
    align-items: center;


}
@media screen and (max-width: 700px) {

#flex-container{
    grid-template-columns: repeat(2, 1fr);
    
}
    
    
}

